@model CSGO.Models.tournament

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tournament</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.type)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.type)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.start_time)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.start_time)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.end_time)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.end_time)
		</dd>

		<dt>
			Event
		</dt>

		<dd>
			@Html.DisplayFor(model => model.eventt.name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.program)
		</dt>

		<dd>
			@if (Model.programs.Count != 0)
			{
				foreach (var item in Model.programs.ToList())
				{
					@Html.DisplayFor(model => item.name)
					@Html.ActionLink(" Edit", "ProgramEdit", new { id = item.id })
				}
			}
			else
			{
				@Html.ActionLink("Add program", "Program", new { id = Model.id })
			}
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.matches)
		</dt>

		<dd>
			@foreach (var item in Model.matches)
			{
				@Html.DisplayFor(model => item.map)
				@Html.ActionLink(" Details", "ShowMatch", new { id = item.id })
				@Html.ActionLink(" Delete", "MatchDelete", new { id = item.id })
			}
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
	@Html.ActionLink("Back to List", "Index") |
	@Html.ActionLink("Register match", "Register", new { id = Model.id })
</p>
