@model IEnumerable<CSGO.Models.users_bets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bet_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.won)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.betting.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bet_value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.won)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.betting.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
