@model IEnumerable<CSGO.Models.users_bets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.bet_value)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.won)
		</th>
	</tr>

@foreach (var item in Model) {
	if (item.fk_user == (int)Session["Id"])
	{
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.bet_value)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.won)
		</td>
		<td>
			@if (item.won == true)
			{
				@Html.ActionLink("Claim", "ClaimMoney")
			}
			else if (item.won == false)
			{
				@Html.ActionLink("Delete", "Delete", new { id = item.id })
			}
		</td>
	</tr>
	}
}

</table>
