@model IEnumerable<CSGO.Models.player>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assists)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.headshots)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.damage_per_second)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.person.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating1.id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assists)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.headshots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.damage_per_second)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.person.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.team.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating1.id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
