@model CSGO.Models.match

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>match</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.start_time)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.start_time)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.map)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.map)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.result)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.result)
		</dd>

		<dt>
			Broadcast
		</dt>

		<dd>
			@Html.DisplayFor(model => model.is_broadcasted)
			</dd>

		<dt>
			Bettings
		</dt>


			@foreach (var item in Model.bettings.ToList())
			{
		<dd>
			@Html.DisplayFor(model => item.coefficient)
			@Html.DisplayFor(model => item.team_name)
			@Html.ActionLink(" Bet money", "Bet", new { id = item.id })
			@Html.ActionLink(" Bet skins", "BetSkins", new { id = item.id })
		</dd>
			}


		<dt>
			Tournament
		</dt>

		<dd>
			@Html.DisplayFor(model => model.tournament.name)
		</dd>

		<dt>
			First team
		</dt>

		<dd>
			@Html.DisplayFor(model => model.team.name)
		</dd>

		<dt>
			Second team
		</dt>

		<dd>
			@Html.DisplayFor(model => model.team1.name)
		</dd>

	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index","Tournaments")
</p>
