@model CSGO.Models.match

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.map)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.map)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_broadcasted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_broadcasted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_registration_open)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_registration_open)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.betting.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.betting.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tournament.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tournament.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticket.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticket.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticket1.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticket1.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team1.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
