@model IEnumerable<CSGO.Models.match>

@{
    ViewBag.Title = "Index";
}

<h2>Matches page</h2>

@if (Session["userLevel"] != null)
{
    if ((int)Session["userLevel"] == 2)
    {
    <p>
    @Html.ActionLink("Create New", "Create")
    </p>
    }
}
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.start_time)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.map)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.result)
		</th>
		<th>
			@* @Html.DisplayNameFor(model => model.team.name)*@
			First Team
		</th>
		<th>
			@*@Html.DisplayNameFor(model => model.team1.name)*@
			Second Team
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.map)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.team.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.team1.name)
        </td>
        <td>
            @if (Session["userLevel"] != null)
            {
                if ((int)Session["userLevel"] == 2)
                {
                    @Html.ActionLink(" Edit", "Edit", new { id = item.id })
                    @Html.ActionLink(" Delete", "Delete", new { id = item.id })
                }
            }
            @Html.ActionLink(" Details", "Details", new { id = item.id })
        </td>
    </tr>
}

</table>
