@model CSGO.Models.team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.defeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.defeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maps_played)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maps_played)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.round_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.round_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_kills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_kills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_deaths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_deaths)
        </dd>

    </dl>
</div>

<h2>Players</h2>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.player.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.player.last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.player.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.player.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.player.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maps_played)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.players.ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.first_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.maps_played)
                </td>
                <td>
                    @Html.ActionLink("Details", "Show", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
