@{
	ViewBag.Title = "AdminDashBoard";
}

<fieldset>


	@if (Session["ID"] != null)
	{
		<text>Welcome @Session["userName"].ToString() </text>
	<ul>
		<li>@Html.ActionLink("Giveaways", "Index", "Giveaways")</li>
		<li>@Html.ActionLink("Skins", "Index", "Skins")</li>
		<li>@Html.ActionLink("Tournaments", "Index", "Tournaments")</li>
		<li>@Html.ActionLink("Events", "Index", "Events")</li>
		<li>@Html.ActionLink("Programs", "Index", "Programs")</li>
		<li>@Html.ActionLink("Matches", "Index", "Matches")</li>
		<li>@Html.ActionLink("Tournaments", "Index", "Tournaments")</li>
		<li>@Html.ActionLink("Bets", "Index", "Bettings")</li>
		<li>@Html.ActionLink("Users bet money", "Index", "UsersBets")</li>
		<li>@Html.ActionLink("Users bet skins", "Index", "UsersBetSkins")</li>
	</ul>
	}
</fieldset>
